body {
  background-color: rgb(233, 228, 228);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* TextField background color */
.MuiTextField-root .MuiOutlinedInput-root {
  background-color: white;
}

/* TextField background color on focus */
.MuiTextField-root .MuiOutlinedInput-root:hover {
  background-color: #f5f5f5;
}

/* TextField background color when focused */
.MuiTextField-root .MuiOutlinedInput-root.Mui-focused {
  background-color: white;
}
